extends layout

block title
  title Monstercat | Contact

block content
  div.row
    div.small-12.large-6.large-offset-3.columns.padtop
      h5 For all press inquiries email&nbsp;
        a(href="mailto:press@monstercat.com") press@monstercat.com
  div.row.padtop.text-center
    div.small-12.large-4.columns
      a(href="http://monstercat.com/submit").contactlink
        div.submit-demo.img
        h5 Submit a demo
    div.small-12.large-4.columns
      a(href="http://bit.ly/LicensingRequest").contactlink
        div.youtube-licensing.img
        h5 YouTube music licensing
    div.small-12.large-4.columns
      a(href="https://docs.google.com/forms/d/122F3UnkcKEvsLj99M72HYcmmjqwEpVG4agBsgcF8YF0/viewform").contactlink
        div.commercial-licensing.img
        h5 Commercial licensing requests
