extends layout
include releasebar

block title
  title Monstercat

block styles
  link(rel='stylesheet', href='/css/slider.css')

block scripts
  script.
    $(function() {
      $('#slides').slidesjs({
        width: 1500,
        height: 600,
        play: {
          active: true,
          auto: true,
          interval: 6000,
          swap: true
        },
        navigation: false
      });
    });

block content
  div.row
    div.large-12.columns
      div#slides
        a(href="https://itunes.apple.com/us/album/earth-ep/id725264689?uo=4")
          img(src="/img/earth-ep-slider.jpg")
        a(href="http://woobox.com/xupbrs")
          img(src="/img/7md.jpg")
        a(href="http://monstercat.concertninja.me/")
          img(src="/img/slider3.jpg")
        a.slidesjs-previous.slidesjs-navigation(href="#")
          i.icon-chevron-left.icon-large
        a.slidesjs-next.slidesjs-navigation(href="#")
          i.icon-chevron-right.icon-large
  div(ng-controller='ReleaseBar')
    div.fullrow.release-row.padtop(release-bar='')
      +releaseRow("Latest Releases", page.mcpdata.releases)
    +releaseDrawer()
