extends layout
include releasebar

block title
  title Monstercat

block styles
  link(rel='stylesheet', href='/css/slider.css')

block scripts
  script.
    $(function() {
      $('#slides').slidesjs({
        width: 1500,
        height: 600,
        play: {
          active: true,
          auto: true,
          interval: 6000,
          swap: true
        },
        navigation: false
      });
    });

block content
  div.row
    div.large-12.columns
      div#slides
        a(href="http://www.monstercat.com/expedition")
          img(src="/img/slider-expedition-out.jpg")
        a(href="http://www.beatport.com/release/peacock-ep/1236653")
          img(src="/img/slider-peacock.jpg")
        a(href="http://www.beatport.com/release/prelude-ep/1234254")
          img(src="/img/slider-prelude.jpg")
        a(href="http://www.beatport.com/release/spection-ep/1229296")
          img(src="/img/slider-spection.jpg")
        a(href="http://www.beatport.com/release/savage/1229299")
         img(src="/img/slider-savage.jpg")
        a(href="http://www.beatport.com/track/bassline-kickin-original-mix/5078681")
          img(src="/img/slider-bassline.jpg")
        a(href="http://www.beatport.com/release/quantum-ep/1228093")
          img(src="/img/slider-quantum.jpg")
        a(href="https://itunes.apple.com/ca/album/monstercat-015-outlook/id746079202")
          img(src="/img/slider-outlook2.jpg")
        a.slidesjs-previous.slidesjs-navigation(href="#")
          i.icon-chevron-left.icon-large
        a.slidesjs-next.slidesjs-navigation(href="#")
          i.icon-chevron-right.icon-large
  div(ng-controller='ReleaseBar')
    div.fullrow.release-row.padtop-13(release-bar='')
      +releaseRow("Latest Releases", page.mcpdata.releases)
    +releaseDrawer()
