extends layout
include releasebar

block title
  title Monstercat | Releases

block content
  div(ng-controller='ReleaseBar')
    div.fullrow.release-row.padtop(release-bar='')
      if page.mcpdata.albums && page.mcpdata.albums.length > 0
        +releaseRow("Albums", page.mcpdata.albums)
      if page.mcpdata.eps && page.mcpdata.eps.length > 0
        +releaseRow("EPS", page.mcpdata.eps)
      if page.mcpdata.singles && page.mcpdata.singles.length > 0
        +releaseRow("Singles", page.mcpdata.singles)
    +releaseDrawer()
